.main-nav--desktop {
  display: none;
}

$logo-spacing-top-s: spacing(xxl) + spacing(s);

.logo-wrapper {
  left: 0;
  padding: $logo-spacing-top-s $body-padding 0;
  position: absolute;
  top: 0;

  @include respond-to(breakpoint(s)) {
    @include rem(padding-top, spacing(s));
    width: 31%;
  }
}

.logo {
  width: 100%;
}

.main-nav--mobile__list {
  font-size: 0;
}

.main-nav--mobile__item {
  max-width: 50%;
  vertical-align: top;

  .button {
    // inconsistency in design, but we can't have 100 standard font sizes
    font-size: fs(xxs) - 1px;
    line-height: lh(xxs);
  }
}

// all these styles only apply on desktop so we wrap them in a media query
@include respond-to(breakpoint(s)) {
  .main-nav--desktop {
    display: block;
    text-align: right;
  }

  .main-nav--mobile {
    display: none;
  }

  .header {
    display: block;
    width: 100%;
  }

  .main-nav--desktop__list {
    @include rem(padding, spacing(m) spacing(s) spacing(m) 0);
    box-sizing: border-box;
    display: inline-block;
    text-align: right;
    width: 55%;
  }
}

@include respond-to(breakpoint(l)) {
  .main-nav--desktop__list {
    @include rem(padding, spacing(xl) spacing(l) spacing(xl) 0);
  }
}
