.main-nav--desktop {
  display: none;
}

$logo-spacing-top-s: spacing(s);

.logo-wrapper {
  box-sizing: border-box;
  left: 0;
  padding: 10% $body-padding 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;

  @include respond-to(breakpoint(m)) {
    @include rem(margin-left, -1 * spacing(xxxs));
    @include rem(padding-top, spacing(s));
    padding-left: 0;
    width: 31%;
  }
}

.logo {
  display: block;
  margin: 0 auto;
  width: 80%;

  @include respond-to(breakpoint(s)) {
    width: 50%;
  }

  @include respond-to(breakpoint(m)) {
    margin: 0;
    width: 100%;
  }
}

.main-nav--mobile__list {
  font-size: 0;
}

.main-nav--mobile__item {
  max-width: 50%;
  vertical-align: top;

  .button {
    // inconsistency in design, but we can't have 100 standard font sizes
    font-size: fs(xxs) - 1px;
    line-height: lh(xxs);

    &:hover:after,
    &:focus:after,
    &:active:after {
      @include play-icon('9c28b1');
    }
  }

  @include respond-to(breakpoint(s)) {
    width: 50%;
  }
}

// all these styles only apply on desktop so we wrap them in a media query
@include respond-to(breakpoint(m)) {
  .main-nav--desktop {
    display: block;
    text-align: right;
  }

  .main-nav--mobile {
    display: none;
  }

  .header {
    display: block;
    width: 100%;
  }

  .main-nav--desktop__list {
    @include rem(padding, spacing(m) spacing(s) spacing(m) 0);
    box-sizing: border-box;
    display: inline-block;
    text-align: right;
    width: 55%;

    @include respond-to(breakpoint(m)) {
      @include flex(flex-end, flex-start, row, nowrap, 'inline-');
    }

    .button--play:hover:after {
      @include play-icon('9c28b1');
    }
  }
}

@include respond-to(breakpoint(l)) {
  .main-nav--desktop__list {
    @include rem(padding, spacing(xl) spacing(l) spacing(xl) 0);
  }
}
