.header {
  display: none;
}

.main-nav--mobile__list {
  font-size: 0;
}

.main-nav--mobile__item {
  max-width: 50%;
  vertical-align: top;

  .button {
    font-size: fs(xxs);
    line-height: lh(xxs);
  }
}

// all these styles only apply on desktop so we wrap them in a media query
@include respond-to(breakpoint(s)) {
  .main-nav--mobile {
    display: none;
  }

  .header {
    display: block;
    width: 100%;
  }

  .main-nav--desktop__list {
    box-sizing: border-box;
    padding: spacing(m) spacing(s) spacing(m) 0;
    text-align: right;
    width: 100%;
  }

  .main-nav--desktop__item--last {
    @include rem(margin-left, spacing(s));
  }
}

@include respond-to(breakpoint(l)) {
  .main-nav--desktop__list {
    padding: spacing(xl) spacing(l) spacing(xl) 0;
  }

  .main-nav--desktop__item,
  .main-nav--desktop__item--last {
     @include rem(margin-left, spacing(xs) + spacing(xxs));
  }
}
