{% import "buttons/button.njk" as button %}

<header class="header" id="header">
  <div class="logo-wrapper">
    <img class="logo" src="static/images/logo/tsc-logo.png" alt="Together Science Can logo">
  </div>
  <nav class="main-nav--desktop">
    <ul class="inline-list main-nav--desktop__list">

      {% for nav_item in header.navigation %}
        <li class="main-nav--desktop__item">
          {{ button.create(color='', text=nav_item.text, link=nav_item.link, icon=nav_item.icon if nav_item.icon) }}
        </li>
      {% endfor %}

      <li class="main-nav--desktop__item main-nav--desktop__item--last">
        {{ button.create(color='black', text=header.cta.text, link=header.cta.link, expanded_ls=true) }}
      </li>
    </ul>
  </nav>
</header>
