// chromatic
$tscYellow: #fec107;
$tscPurple: #9c28b1;
$tscBlue: #2196f3;
$tscRed: #f54337;
$tscGreen: #bed500;

// desaturated
$tscBlack: #000;
$tscDarkGrey: #404040;
$tscMediumGrey: #909090;
$tscLightGrey: #cfcfcf;
$tscLighterGrey: #f3f3f3;
$tscWhite: #fff;

// interactive variations
$tscBlackInt: #1e1e1e;
$tscYellowInt: #ffcc32;
