// chromatic
$tscYellow: #fec107;
$tscPurple: #9c28b1;
$tscBlue: #2196f3;
$tscRed: #f54337;
$tscGreen: #bed500;

// desaturated
$tscBlack: #000;
$tscDarkerGrey: #1a1a1a;
$tscDarkGrey: #404040;
$tscMediumGrey: #909090;
$tscLightGrey: #cfcfcf;
$tscLighterGrey: #f3f3f3;
$tscWhite: #fff;

// interactive variations
$tscBlackInt: $tscDarkGrey;
$tscYellowInt: #ffcc32;
$tscPurpleInt: #ad3dc1;
$tscBlueInt: #37a6ff;
$tscGreenInt: #cfe500;
