.drop-shadow {
  @include rem(margin-bottom, spacing(xxl));
  position: relative;

  &:before {
    background: black;
    border-radius: 60px;
    bottom: 0;
    box-shadow: 0 0 56px 13px rgba(0,0,0,0.44);
    content: "";
    display: block;
    height: 0;
    left: 5%;
    margin: 0 auto;
    position: absolute;
    width: 90%;
    z-index: -1;
  }
}
