.drop-shadow {
  @include rem(margin-bottom, spacing(xxl));
  position: relative;

  &:before {
    border-radius: 50%;
    bottom: 0;
    box-shadow: 0 0 100px 21px rgba(0,0,0,.44);
    content: "";
    display: block;
    height: 25%;
    left: 10%;
    margin: 0 auto;
    position: absolute;
    width: 80%;
    z-index: -1;
  }
}
