$breakpoints: (
  s: 900px,
  l: 1300px,
);

@function breakpoint($level) {
  @return map-get($breakpoints, $level);
}

html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

body,
html {
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

.visuallyhidden {
  @include visuallyhidden;
}
