// NOTE: in a lot of this code, we're not using the rem() mixin, since we want the layout to be independent of text-zoom

.section {
  padding: 0 $body-padding;
  margin: 0 auto;
}

.section--form {
  border-radius: border-radius(l);
  background: $tscLighterGrey;
  max-width: 1230px;
  padding-top: $tsc-spacing-m;
  padding-bottom: $tsc-spacing-m;
}
