$body-padding: 20px;

$tsc-spacing-xs: 18px;
$tsc-spacing-s: 25px;
$tsc-spacing-m: 36px;

$border-radii: (
  s: 3px,
  l: 8px,
);

@function border-radius($size) {
  @return map-get($border-radii, $size);
}

