$body-padding: 20px;

$spacings: (
  xxs: 13px,
  xs: 18px,
  s: 25px,
  m: 36px,
  l: 42px,
  xl: 54px,
);

@function spacing($size) {
  @return map-get($spacings, $size);
}

$border-radii: (
  s: 3px,
  l: 8px,
);

@function border-radius($size) {
  @return map-get($border-radii, $size);
}

