$font-sizes: (
  tiny: 11px,
  xxxs: 12px,
  xxs: 16px,
  xs: 18px,
  s: 20px,
  m: 25px,
  l: 38px,
  xl: 60px,
  xxl: 75px,
);

$line-heights: (
  xxxs: 12px,
  xxs: 26px,
  xs: 28px,
  s: 28px,
  m: 35px,
  l: 36px,
  xl: 55px,
);

// here black = 500 because the version of Brandon Grotesque Black from MyFonts seems to display properly at 500 instead of 900
$font-weights: (
  regular: 400,
  semibold: 600,
  bold: 700,
  black: 500,
);

@function fs($size) {
  @return map-get($font-sizes, $size);
}

@function lh($size) {
  @return (map-get($line-heights, $size) / fs($size));
}

@function fw($weight) {
  @return map-get($font-weights, $weight);
}

html {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-smooth: always;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-decoration-skip: ink;
  text-decoration-skip: ink;
}

body {
  font-family: $bodyFont;
  font-weight: fw(regular);
  font-size: fs(xxs);
  line-height: lh(xxs);
}

h1,
h2,
h3,
h4 {
  font-family: $headingFont;
  font-weight: fw(black);
  text-transform: uppercase;
}

h1 {
  @include rem(margin, spacing(l) 0 spacing(xxxs));
  font-size: fs(l);
  line-height: lh(l);

  @include respond-to(breakpoint(l)) {
    @include rem(margin, spacing(l) 0 spacing(xs));
    font-size: fs(xl);
    line-height: lh(xl);
  }
}

h2 {
  @include rem(margin, 0 0 spacing(xs));
  font-size: fs(l);
  line-height: lh(l);

  @include respond-to(breakpoint(m)) {
    @include rem(margin, 0 0 spacing(s));
  }

  @include respond-to(breakpoint(l)) {
    font-size: fs(xl);
    line-height: lh(xl);
  }
}

h3 {
  font-size: fs(m);
  line-height: 1;
  margin: 0;

  @include respond-to(breakpoint(l)) {
    font-size: fs(l);
    line-height: 1;
  }
}

.intro__body {
  font-size: fs(s);
  line-height: lh(s);

  @include respond-to(breakpoint(l)) {
    font-size: fs(m);
    line-height: lh(m);
  }
}
