@mixin button-colours($foreground, $background, $hoverColor, $hoverBackground) {
  background: $background;

  &,
  &:visited {
    color: $foreground;
  }

  &:hover,
  &:focus,
  &:active {
    background: $hoverBackground;
    color: $hoverColor;
  }

  &.button--disabled,
  &.button--disabled:hover,
  &.button--disabled:focus,
  &.button--disabled:active {
    background: transparent;
    border: solid 2px $background;
    color: $tscBlack;
  }
}

@mixin play-icon($color: 'ffffff') {
  background-image: url("data:image/svg+xml,%3Csvg height='34' viewBox='0 0 26 34' width='26' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m1639 5029l-26 17v-34z' fill='%23#{$color}' fill-rule='evenodd' transform='translate(-1613 -5012)'/%3E%3C/svg%3E");
}

.button {
  @include appearance(none);
  @include button-colours($tscBlack, $tscWhite, $tscPurple, $tscWhite);
  @include rem(padding, spacing(xs) spacing(s));

  border: none;
  border-radius: border-radius(s);
  cursor: pointer;
  display: inline-block;
  font-family: $bodyFont;
  font-size: fs(xxxs);
  font-weight: fw(bold);
  line-height: 1;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  text-decoration: none;

  @include respond-to(breakpoint(l)) {
    font-size: fs(xxs);
    line-height: 1;
  }
}

.button--disabled {
  cursor: normal;
  pointer-events: none;
}

.button--fullwidth {
  width: 100%;
}

.button--black {
  @include button-colours($tscWhite, $tscBlack, $tscWhite,$tscBlackInt);

  &.button--play {
    &:after {
      @include play-icon('ffffff');
    }
  }
}

.button--yellow {
  @include button-colours($tscBlack, $tscYellow, $tscBlack, $tscYellowInt);

  &.button--play {
    &:after {
      @include play-icon('000000');
    }
  }
}

.button--blue {
  @include button-colours($tscWhite, $tscBlue, $tscWhite, $tscBlueInt);

  &.button--play {
    &:after {
      @include play-icon('ffffff');
    }
  }
}

.button--green {
  @include button-colours($tscBlack, $tscGreen, $tscBlack, $tscGreenInt);

  &.button--play {
    &:after {
      @include play-icon('000000');
    }
  }
}

.button--expanded-ls {
  letter-spacing: 0.13em;
}

.button--standalone {
  @include rem(margin, spacing(s) 0);

  @include respond-to(breakpoint(l)) {
    @include rem(margin, spacing(l) 0);
  }
}

.button--play {
  &:after {
    @include play-icon('000000');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    content: '';
    display: inline-block;
    height: 1em;
    margin-left: 0.5em;
    vertical-align: middle;
    width: .5em;
  }
}

.button--anchor {
  @extend .button--play;

  &:after {
    @include transform-origin(center center);
    @include transform(rotate(90deg));
    display: block;
    margin: spacing(xxxs) auto 0;
  }
}

