@mixin button-colours($foreground, $background, $hoverColor, $hoverBackground) {
  background: $background;

  &,
  &:visited {
    color: $foreground;
  }

  &:hover,
  &:focus,
  &:active {
    background: $hoverBackground;
    color: $hoverColor;
  }
}

.button {
  @include appearance(none);
  @include button-colours($tscBlack, $tscWhite, $tscBlackInt,$tscWhite);
  @include rem(padding, $tsc-spacing-xs $tsc-spacing-s);

  border-radius: $tsc-border-radius;
  display: inline-block;
  font-size: fs(xxxs);
  font-weight: fw(bold);
  line-height: lh(xxxs);
  text-transform: uppercase;
  text-decoration: none;

  @include respond-to(breakpoint(s)) {
    font-size: fs(xxs);
    line-height: lh(xxs);
  }
}

.button--black {
  @include button-colours($tscWhite, $tscBlack, $tscWhite,$tscBlackInt);
}

.button--standalone {
  @include rem(margin, $tsc-spacing-m 0);
}
