{% macro create(
    color,
    text,
    link="",
    standalone=false,
    disabled=false,
    download=false,
    expanded_ls=false,
    icon='none') %}
  <a
    class="button button--{{ color }} button--{{ icon }} {{ "button--standalone" if standalone }} {{ "button--expanded-ls" if expanded_ls }} {{ "button--disabled" if disabled }}"
    href="{{ link }}"
    {% if download %} download="{{ download }}" {% endif %}>
    {{ text }}
  </a>
{% endmacro %}
