<section class="section section--mission">
  <div class="mission__boomerang-wrapper">
    <div class="mission__boomerang drop-shadow">
      <div class="mission__boomerang__inner">
        <img class="mission__boomerang__fallback" src="/static/images/gesture.jpg" alt="Two people showing the 'joint hands' Together Science Can gesture" />
        {{ mission.boomerang_embed | safe }}
      </div>
    </div>
  </div>
  <div class="mission__content">
    <h2>{{ mission.title | safe }}</h2>
    {{ mission.body | safe }}
  </div>
</section>
