<section id="watch-the-film" class="section section--film">
  <div class="drop-shadow">
    <div class="film__wrapper film__wrapper--16-9 custom-play">
      <iframe
        id="tsc-film"
        aria-hidden="true"
        class="film__iframe custom-play__iframe"
        width="560" height="315"
        src="{{ film.embed_url }}" frameborder="0" allowfullscreen></iframe>
      <button
        class="custom-play__button"
        aria-controls="tsc-film"
        title="Play the film">
      </button>
    </div>
  </div>
  {% include "patterns/social-counter/social-counter.njk" %}
  {% include "patterns/share-panel/share-panel.njk" %}
</section>
