

.section--blog-cards {
  @extend .section--flip-cards;
  max-width: map-get($flip-cards-section-widths, s);
  @include rem(margin-bottom, spacing(xxl) * 3);

  @include respond-to(breakpoint(m)) {
    @include rem(margin-bottom, spacing(xxl));
    max-width: map-get($flip-cards-section-widths, m);
  }

  @include respond-to(breakpoint(l)) {
    @include rem(margin-bottom, spacing(xxl) + spacing(xl));
    max-width: map-get($flip-cards-section-widths, l);
  }

}
.section--blog-cards.unloaded {
  display: none;
}

.blog-cards__header {
  @extend .flip-cards__header;
  text-align: center;
  width: 100%;
  margin-bottom: 50px;
  h3 {
    color: $tscDarkGrey;
    margin-bottom: 10px;
  }
  .medium-logo:after {
    background-image: url('./static/images/logo/medium-logo.png');
    width: 100px;
    height: 20px;
    background-size: 100%;
    background-position: 50% 50%;
    content: "";
    display: inline-block;
  }
}

.blog-cards__cards {
  @extend .flip-cards__cards;
  h3.card__title {

  }
  p.card__subtitle {
    font-weight: bold;
  }
  .card-wrapper {
    .card__inner {
      padding: 0 0 20px 0;
      background-image: none;
    }
    @for $i from 1 through 3 {
      &:nth-of-type(#{$i}) .card:first-of-type .card__inner {
        background-image: none;
      }
    }
  }

  img {
    width: 100%;
  }
}
