<div id="cookie-message" class="cookie-message" role="note">
This site uses cookies. <a href="https://wellcome.ac.uk/about-us/terms-use#cookies" rel="noreferrer noopener" target="_blank">Read our policy</a>
<a class="cookie-message__close button" href="#header" title="Accept and close">
  <span class="button__x" role="presentation">&times;</span>
</a>
</div>
