<div id="cookie-message" class="cookie-message" role="note">
Together Science Can uses cookies. <a href="https://wellcome.ac.uk/about-us/terms-use#cookies" rel="noreferrer noopener" target="_blank">Read our policy</a>
<a class="cookie-message__close button" href="#header">Accept and close</a>
</div>
