<!DOCTYPE html>
<html lang="en">
<head>
  <title>Together Science Can</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% include "meta/icons.njk" %}
  {% include "meta/html5shiv.njk" %}
  <link rel="stylesheet" type="text/css" href="styles-{{ hash }}.css">
  <script defer type="text/javascript" src="main-{{ hash }}.js"></script>
</head>
<body>
  {% include "intro-video/intro-video.njk" %}
  {% include "header/header--desktop.njk" %}
  <main>
    {% include "sections/intro/intro.njk" %}
      {% include "backgrounds/yellow-splooge.njk" %}
    {% include "sections/primary-signup/primary-signup.njk" %}
    {% include "sections/film/film.njk" %}
    {% include "sections/mission/mission.njk" %}
    {% include "sections/flip-cards/flip-cards.njk" %}
    {% include "sections/downloads/downloads.njk" %}
    {% include "sections/social-feed/social-feed.njk" %}
    {% include "sections/secondary-signup/secondary-signup.njk" %}
  </main>
  {% include "footer/footer.njk" %}
</body>
</html>
