<div class="background-wrapper background-wrapper--cloud" role="presentation" aria-hidden="true">
  <div class="background background--cloud">
    <img class="background__image background__image--cloud" src="./static/images/backgrounds/cloud.svg">
  </div>
</div>
