<div class="background-wrapper background-wrapper--fists background-wrapper--parallax background-wrapper--parallax-left" role="presentation" aria-hidden="true">
  <div class="background background--fists">
    <img class="background__image background__image--fists" src="./static/images/backgrounds/fists.svg">
    <img class="background__image background__image--fists background__overlay--fists" src="./static/images/backgrounds/fists--overlay.png">
  </div>
</div>
