<div class="background-wrapper background-wrapper--molecules background-wrapper--parallax" role="presentation">
  <div class="background background--molecules">
    <img alt="" class="background__image background__image--molecules" src="./static/images/backgrounds/molecules.svg">
  </div>
</div>
