<div class="background-wrapper background-wrapper--space" role="presentation">
  <div class="background background--space">
    <img class="background__image background__image--space" src="./static/images/backgrounds/space.svg">
    <img class="background__image background__image--space background__overlay--space" src="./static/images/backgrounds/space--overlay.svg">
  </div>
</div>
