<div class="background-wrapper background-wrapper--yellow-splooge background-wrapper--parallax" role="presentation" aria-hidden="true">
  <div class="background background--yellow-splooge">
    <img class="background__image background__image--yellow-splooge" src="./static/images/backgrounds/yellow-splooge.svg">
  </div>
</div>
