.section--intro {
  text-align: center;

  @include respond-to(breakpoint(s)) {
    max-width: 688px;
  }

  @include respond-to(breakpoint(m)) {
    max-width: 1366px;
    text-align: left;
  }
}

.intro__content {
  padding-bottom: spacing(xxl);

  @include respond-to(breakpoint(m)) {
    box-sizing: border-box;
    margin-left: auto;
    padding-top: spacing(xxl);
    padding-bottom: spacing(xxl) + spacing(xl);
    padding-left: spacing(xxxs);
    width: 50%;
  }

  @include respond-to(breakpoint(l)) {
    padding-top: spacing(xxl);
    padding-bottom: spacing(xxl) * 2 + spacing(xl);
    padding-left: spacing(xxxs);
  }
}

.intro__heading {
  @include respond-to(breakpoint(s), breakpoint(m)) {
    // make the hero title not break
    br {
      display: none;
    }
  }
}

.intro__cta .button {
  @include respond-to(breakpoint(s), breakpoint(m)) {
    display: inline-block;
  }
}
