<section class="section section--intro">
  <h1 class="intro__heading">{{ intro.title }}</h1>
  <div class="intro__body">
    {{ intro.body }}
  </div>
  <div class="intro__cta">
    <a class="button button--standalone" href="{{ intro.cta.link }}">
      {{ intro.cta.text }}
    </a>
  </div>
</section>
