{# general #}
<meta name="description" content="{{ global.meta_description }}">

{# twitter #}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="{{ global.meta_twitter.site }}">
<meta name="twitter:title" content="{{ global.meta_twitter.title }}">
<meta name="twitter:description" content="{{ global.meta_twitter.description }}">
<meta name="twitter:creator" content="{{ global.meta_twitter.creator }}">
<meta name="twitter:image" content="{{ global.meta_twitter.image_url }}">
<meta name="twitter:image:alt" content="{{ global.meta_twitter.image_alt }}">

{# facebook #}
<meta property="og:title" content="{{ global.meta_facebook.title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ global.meta_facebook.url }}" />
<meta property="og:image" content="{{ global.meta_facebook.image_url }}" />
<meta property="og:description" content="{{ global.meta_facebook.description }}" />
<meta property="og:site_name" content="{{ global.meta_facebook.title }}" />
