{% import "buttons/button.njk" as button %}

<section class="section section--social-feed">
  <h2 class="social-feed__title">{{ social_feed.title }}</h2>
  <div
    class="social-feed__hashtag"
    role="definition"
    aria-label="{{ social_feed.hashtag | replace("#", "Hashtag ") }}">
    {{- social_feed.hashtag -}}
  </div>
  <div class="social-feed__feed-wrapper">
    <button class="social-feed__button social-feed__button--previous social-feed__button--hidden" aria-hidden="true" role="presentation" title="Show previous posts"></button>
    <div class="social-feed__feed">
      {# fallback link to Wellcome Twitter page #}
      <div class="social-feed__post social-feed__post--fallback">
      {{ button.create(
              color="blue",
              text="See more on Instagram",
              link="https://instagram.com/togethersciencecan",
              standalone=true) }}
      </div>
    </div>
    <button class="social-feed__button social-feed__button--next" aria-hidden="true" role="presentation" title="Show following posts">Load more</button>
  </div>
</section>
