{% macro create(text="", url="") %}
  <a
    class="share-button share-button--facebook"
    target="tsc_facebook_share"
    rel="noopener noreferrer"
    href="https://www.facebook.com/sharer/sharer.php?u={{ url | urlencode }}&amp;title={{ text | urlencode }}"
    title="Share on Facebook (opens in a new tab)"></a>
{% endmacro %}
