{% import "patterns/share-panel/fb-share-button.njk" as fb_share_button %}
{% import "patterns/share-panel/twitter-share-button.njk" as twitter_share_button %}
{% import "patterns/share-panel/email-share-button.njk" as email_share_button %}

<aside class="share-panel">
  <div class="share-panel__title">Share the film</div>
  <div class="share-panel__buttons">
    {{ fb_share_button.create(url=film.sharing_url) }}
    {{ twitter_share_button.create(text=film.tweet_text, url=film.sharing_url) }}
    {{ email_share_button.create(subject=film.email_subject, body=film.email_body) }}
  </div>
</aside>
