{% import "patterns/share-panel/fb-share-button.njk" as fb_share_button %}
{% import "patterns/share-panel/twitter-share-button.njk" as twitter_share_button %}
{% import "patterns/share-panel/email-share-button.njk" as email_share_button %}

{% macro create(
    title="",
    body="",
    cta="",
    flip_side=false,
    complete="",
    image_url=false) %}
<div class="card-wrapper">
  <div class="card {{ "card--head" if flip_side }} drop-shadow">
    <div class="card__inner">
      {% if image_url %}
        <img alt="" class="card__image" src="{{ image_url }}" role="presentation" aria-hidden="true">
      {% endif %}
      <h3 class="card__title">{{ title | safe }}</h3>
      <div class="card__body">{{ body | safe }}</div>
      {{ cta | safe }}
    </div>
  </div>
  {% if flip_side !== false %}
    <div class="card card--tail drop-shadow">
      <div class="card__inner">
        <div class="form__content">
          <h3 class="card__title">{{ flip_side.title | safe }}</h3>
          {% set address_book_id = flip_side.address_book_id %}
          {% include "forms/card-signup-form.njk" %}
        </div>
        <div class="form__success">
          <h3 class="form__title">{{ complete.title | safe }}</h3>
          <p class="form__success__body">{{ complete.body | safe }}</p>
          <div class="form__success__content">
            <aside class="share-panel">
              <div class="share-panel__title">Share</div>
              <div class="share-panel__buttons">
                {{ fb_share_button.create(url="https://togethersciencecan.org/") }}
                {{ twitter_share_button.create(text="", url="https://togethersciencecan.org/") }}
                {{ email_share_button.create(subject="Together Science Can", body="https://togethersciencecan.org/") }}
              </div>
            </aside>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
</div>
{% endmacro %}
