{% macro create(
    title="",
    body="",
    cta="",
    flip_side=false,
    complete="",
    image_url=false) %}
<div class="card-wrapper">
  <div class="card {{ "card--head" if flip_side }} drop-shadow">
    <div class="card__inner">
      {% if image_url %}
        <img alt="" class="card__image" src="{{ image_url }}" role="presentation" aria-hidden="true">
      {% endif %}
      <h3 class="card__title">{{ title | safe }}</h3>
      <div class="card__body">{{ body | safe }}</div>
      {{ cta | safe }}
    </div>
  </div>
  {% if flip_side !== false %}
    <div class="card card--tail drop-shadow">
      <div class="card__inner">
        <div class="form__content">
          <h3 class="card__title">{{ flip_side.title | safe }}</h3>
          {% include "forms/card-signup-form.njk" %}
          <p class="form__footer">
            We'll send you well-timed news and ideas for how you can get involved. We won't share your email with anyone else.
          </p>
        </div>
        <div class="form__success">
          <h3 class="form__title">{{ complete.title | safe }}</h3>
          {{ complete.body | safe }}
        </div>
      </div>
    </div>
  {% endif %}
</div>
{% endmacro %}
