<div class="intro-video" role="presentation">
  <video class="intro-video__video" poster="static/images/eye-placeholder.jpg" muted autoplay loop>
    <source data-src="static/video/test_bg.webm" type="video/webm">
    <source data-src="static/video/test_bg.mp4" type="video/mp4">
    <source data-src="static/video/test_bg.ogv" type="video/ogg">
    <img src="static/images/eye-placeholder.jpg" alt="" aria-hidden="" role="presentation">
  </video>
  <div class="intro-video__overlay"></div>
  <img class="intro-video__mask" src="static/images/intro-video-mask.svg" alt="" aria-hidden="" role="presentation">
</div>
