<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Together Science Can</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style type="text/css">
    body {
      font-family: Helvetica, sans-serif;
      text-align: center;
    }
  </style>
</head>
<!-- This is a fallback Thank-you page for users who submit the form on an unsupported browser or have JavaScript disabled -->
<body>
  <h1>Thank you</h1>
  <p>You've joined others around the world who want to keep science open. Please share the message and invite others too.</p>
  <a href="/">&lt; Back</a>
</body>
</html>
