{% extends "patterns/form/form.njk" %}

{% block id %}signup{% endblock %}
{% block section_classes %}section--primary-signup{% endblock %}

{% block title %}
  {{ signup.title }}
{% endblock %}

{% block form %}
{% include "forms/signup-form.njk" %}
{% endblock %}

{% block footer %}
  {{ signup.footer }}
{% endblock %}

{% block success %}
Thank you!
{% endblock %}

{% block success_body %}
You've joined others around the world who want to keep science open. Please share the message and invite others too.
{% endblock %}
