{% extends "patterns/form/form.njk" %}

{% block id %}signup{% endblock %}
{% block section_classes %}section--primary-signup{% endblock %}

{% block title %}
  {{ signup.title }}
{% endblock %}

{% block form %}
{% set address_book_id = signup.address_book_id %}
{% include "forms/signup-form.njk" %}
{% endblock %}

{% block footer %}
  {{ signup.footer }}
{% endblock %}

{% block success %}
Thank you!
{% endblock %}

{% block success_body %}
Please invite others to join
{% endblock %}
