{% extends "patterns/form/form.njk" %}

{% block wrapper_classes %}section-wrapper--secondary-signup{% endblock %}
{% block section_classes %}section--secondary-signup{% endblock %}

{% block title %}
  {{ secondary_signup.title }}
{% endblock %}

{% block form %}
{% include "forms/secondary-signup-form.njk" %}
{% endblock %}

{% block footer %}
  {{ secondary_signup.footer }}
{% endblock %}

{% block success %}
  Thank you!
{% endblock %}

{% block success_body %}
Please invite others to join
{% endblock %}
